<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8"/>
    <title>Realiza tu Compra</title>
</head>
<body>
<form class="form-horizontal" th:object="${usuarioForm}" method="POST" th:action="@{/realizarCompra}">
    <fieldset>

        <!-- Form Name -->
        <legend>Realiza tu Pago</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nombre">Nombre</label>
            <div class="col-md-4">
                <input id="nombre" name="firstName" type="text" placeholder="Nombre" class="form-control input-md" required=""/>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Apellido</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="Apellido" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="address">Dirección</label>
            <div class="col-md-4">
                <input id="address" name="address" type="text" placeholder="Dirección" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="addressCity">Ciudad</label>
            <div class="col-md-4">
                <input id="addressCity" name="addressCity" type="text" placeholder="Ciudad" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="phoneNumber">Teléfono</label>
            <div class="col-md-3">
                <input id="phoneNumber" name="phoneNumber" type="text" placeholder="Telefono" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ammount">Monto</label>
            <div class="col-md-2">
                <input id="ammount" name="amount" type="text" placeholder="Monto" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cardNumber">Número de Tarjeta</label>
            <div class="col-md-4">
                <input id="cardNumber" name="cardNumber" type="text" placeholder="4445554444555" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cvv">CVV</label>
            <div class="col-md-2">
                <input id="cvv" name="cvv" type="text" placeholder="CVV" class="form-control input-md" required=""/>

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expirationMonth">Mes</label>
            <div class="col-md-2">
                <select id="expirationMonth" name="expirationMonth" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expirationYear">Año</label>
            <div class="col-md-2">
                <select id="expirationYear" name="expirationYear" class="form-control">
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="realizarPago"></label>
            <div class="col-md-4">
                <button id="realizarPago" name="realizarPago" class="btn btn-primary" type="submit">Pagar</button>
            </div>
        </div>

    </fieldset>
</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>